* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
            /* 1. Define a imagem de fundo */
            background-image: url("./img/Background\ Valorant.jpg");

            /* 2. Controla a repetição da imagem */
            background-repeat: no-repeat; /* Evita que a imagem se repita, se for grande o suficiente */

            /* 3. Ajusta o tamanho da imagem para cobrir todo o elemento */
            background-size: cover;

            /* 4. Fixa a imagem no fundo enquanto o conteúdo rola */
            background-attachment: fixed;

            /* 5. Define a cor de fundo caso a imagem não carregue */
            background-color:#e23d3d;
            background-position: center; /* Centraliza a imagem */

} 
    

main {
    font-family: "Arial", sans-serif;
    height: 100vh;
    padding-top: 55px;
    text-align: center;
   
}

.form-container {
    display: inline-block; 
    border-radius: 20px;
    box-shadow: 0 4px 20px rgb(0, 0, 0, 0.7);
    padding: 40px 30px;
    background-color: white;


    h1 {
    margin-bottom: 25px;
    font-size: 22px;
    color: #222;
    }

    form {
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        display: block; 
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-sizing: border-box;
    }

    .input-row  {
        padding-top: 15px;
        input {
            width: 43%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 8px;
            font-size: 14px;
            display: inline-block;
        }
        input:first-child {
            margin-right: 40px;
        }
        }
    }

    .checkbox {
        display: block;
        text-align: center;
        font-size: 12px;
        color: #555;
        margin: 10px 0;

        a {
            color: #2764c0;
            text-decoration: none;
            display: inline-block;

            &:hover {
                text-decoration: underline;
            }
        }
    }

}

button {
    background: #e23d3d;
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: darken(#e23d3d, 10%);
    }
}
